﻿@model SurveyDonkey.API.Models.SurveyStats

<h3>@*Enumerated Response Here*@</h3>

@{
    int questionCounter = ViewBag.QuestionCounter;

    <h3>@Model.QuestionStats[questionCounter].Contents</h3>

    var responsesStats = Model.QuestionStats[questionCounter].ResponsesStats.ResponsesStats;

    <img src="@Url.Action("DrawChart", new { jsonValues = Newtonsoft.Json.JsonConvert.SerializeObject(responsesStats) })" />
}



