﻿@model SurveyDonkey.API.Models.SurveyStats

@*<h3>Free Text Response Here</h3>*@

@{
    int questionCounter = ViewBag.QuestionCounter;

    <h3>@Model.QuestionStats[questionCounter].Contents</h3>

    <h4>Responses:</h4>

    foreach (var value in @Model.QuestionStats[questionCounter].ResponsesStats.ResponsesStats.Keys)
    {
        <h5>@value</h5>
    }

}

