﻿@model SurveyDonkey.API.Models.SurveyStats

@{
    ViewBag.Title = "Statistics";
}

<h2>Survey Statistics</h2>

@{
    int questionCounter = 0;
    foreach (var questionStats in Model.QuestionStats)
    {
        if (questionStats.QuestionTypeId != SurveyDonkey.Common.QuestionType.FreeText)
        {
            @Html.Partial("_EnumeratedQuestion", Model, new ViewDataDictionary { { "QuestionCounter", @questionCounter } })<br />
        }
        else
        {
            @Html.Partial("_FreeTextQuestion", Model, new ViewDataDictionary { { "QuestionCounter", @questionCounter } })<br />
        }

        questionCounter++;
    }
}

