﻿@model SurveyDonkey.API.Models.SurveyTemplate

@*<h3>Range Response Here</h3>*@

@Model.QuestionsList[ViewBag.QuestionCounter].Content

<div id="Question_@(ViewBag.QuestionCounter)">
    @{
        int questionNumber = ViewBag.QuestionCounter;

        @Html.TextAreaFor(m => m.QuestionsList[questionNumber].ResponsesList[0].Contents, htmlAttributes: new { rows = 10, cols = 40, style = "width: 70%; max-width: 70%;" });
        @Html.HiddenFor(m => m.QuestionsList[questionNumber].ResponsesList[0].TemplateId)
        @Html.HiddenFor(m => m.QuestionsList[questionNumber].ResponsesList[0].QuestionTemplateId)
        @Html.HiddenFor(m => m.QuestionsList[questionNumber].ResponsesList[0].IsSelected, "true")
    }
</div>
<div><button id="@(ViewBag.QuestionCounter)_GoToNextQuestionBtn" style="visibility:hidden">OK</button></div>

<script type="text/javascript">
    $("div[id='Question_@(ViewBag.QuestionCounter)']").keyup(function () {
        if ($("div[id='Question_@(ViewBag.QuestionCounter)']").find('textarea').val().length > 0) {
            $('#@(ViewBag.QuestionCounter)_GoToNextQuestionBtn').css("visibility", "visible");
            $("div[id='Question_@(ViewBag.QuestionCounter)']").find('input[id*="_IsSelected"]').val(true);
        } else {
            $('#@(ViewBag.QuestionCounter)_GoToNextQuestionBtn').css("visibility", "hidden");
            $("div[id='Question_@(ViewBag.QuestionCounter)']").find('input[id*="_IsSelected"]').val(false);
        }
    });
</script>