﻿@model SurveyDonkey.API.Models.SurveyTemplate

@*<h3>Multi Response Here</h3>*@

@Model.QuestionsList[ViewBag.QuestionCounter].Content
<ul style="list-style-type:none;columns: 2;-webkit-columns: 2;-moz-columns: 2;">

    @{
        int questionNumber = ViewBag.QuestionCounter;

        for (int i = 0; i < Model.QuestionsList[questionNumber].ResponsesList.Count; i++)
        {
            <li>
                @Html.CheckBoxFor(m => m.QuestionsList[questionNumber].ResponsesList[i].IsSelected, "true")
                @Html.LabelFor(m => m.QuestionsList[questionNumber].ResponsesList[i].Contents, Model.QuestionsList[questionNumber].ResponsesList[i].Contents)
                @Html.HiddenFor(m => m.QuestionsList[questionNumber].ResponsesList[i].TemplateId, Model.QuestionsList[questionNumber].ResponsesList[i].TemplateId)
                @Html.HiddenFor(m => m.QuestionsList[questionNumber].ResponsesList[i].QuestionTemplateId, Model.QuestionsList[questionNumber].ResponsesList[i].QuestionTemplateId)
            </li>
        }
    }

</ul>
