﻿@model SurveyDonkey.API.Models.SurveyTemplate

@*<h3>Range Response Here</h3>*@

@Model.QuestionsList[ViewBag.QuestionCounter].Content

<table id="Question_@(ViewBag.QuestionCounter)">
    <tr>
        @{
            int questionNumber = ViewBag.QuestionCounter;
            for (int index = 0; index < Model.QuestionsList[questionNumber].ResponsesList.Count; index++)
            {
                var id = ViewBag.QuestionCounter + "_" + index.ToString();

        <td align="center" id=@id>
            @Html.DisplayFor(m => m.QuestionsList[questionNumber].ResponsesList[index].Contents)
            @Html.HiddenFor(m => m.QuestionsList[questionNumber].ResponsesList[index].IsSelected, "true")
            @Html.HiddenFor(m => m.QuestionsList[questionNumber].ResponsesList[index].TemplateId)
            @Html.HiddenFor(m => m.QuestionsList[questionNumber].ResponsesList[index].QuestionTemplateId)

        </td>
            }
        }
    </tr>
</table>



<style>
    table {
        width: 100%;
        margin: auto;
    }

        table tr td {
            border: 1px solid;
        }

    .selected {
        background: #60ff00;
    }

    td {
        /*width: 30%;*/
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        outline: 1px solid #ccc;
    }

        td:after {
            content: '';
            display: block;
            margin-top: 100%;
        }

        td .content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

    table, td {
        border: 1px solid black;
    }
</style>

<script type="text/javascript">
    jQuery(function ($) {
        var cells = $("table[id='Question_@(ViewBag.QuestionCounter)']").find("td[id*='@(ViewBag.QuestionCounter)_']")

        // handle click and add class
        cells.on("click", function () {
            $(cells).removeClass("selected");
            $(this).addClass("selected");
            $(cells).find('input[id*="_IsSelected"]').val(false);
            $(this).find('input[id*="_IsSelected"]').val(true);
        })
    });
</script>