﻿@model SurveyDonkey.API.Models.SurveyTemplate

@{
    ViewBag.Title = "Surveys";
}

<h2>@Model.SurveyName</h2>

@using (Html.BeginForm("Create", "SurveyPage", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SurveyTemplateId)

    <ol>
        @{
            //count questions to create unique id for controls inside partial views
            int questionCounter = 0;
            foreach (var question in Model.QuestionsList)
            {
                if (question.QuestionType == SurveyDonkey.Common.QuestionType.Scale)
                {
                    <li>@Html.Partial("_RangeResponse", Model, new ViewDataDictionary { { "QuestionCounter", @questionCounter } })<br /></li>
                }

                else if (question.QuestionType == SurveyDonkey.Common.QuestionType.FreeText)
                {
                    <li>@Html.Partial("_FreeTextResponse", Model, new ViewDataDictionary { { "QuestionCounter", @questionCounter } })<br /></li>
                }

                else if (question.QuestionType == SurveyDonkey.Common.QuestionType.MultiChoice)
                {
                    <li>@Html.Partial("_MultiResponse", Model, new ViewDataDictionary { { "QuestionCounter", @questionCounter } })<br /></li>
                }

                else //create single response type for any other options
                {
                    <li>@Html.Partial("_SingleResponse", Model, new ViewDataDictionary { { "QuestionCounter", @questionCounter } })<br /></li>
                }
               
                questionCounter++;
            }
        }

    </ol>


    <button type="submit" id="SubmitSurveyBtn">DONE</button>    
}



